* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

footer {
	background: #383639;
	color: #9eb4bf;
	font-family: 'Roboto', sans-serif;
    width: 100%;
	max-width: 100%;
	margin: auto;
	padding: 10px 10px 0;

}

.contenedor-footer {

	display: grid;
	grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-auto-flow: row dense;
	gap:10px;
    font-size:12px ;
    
}
h3{
    color: #9eb4bf;
    text-shadow: 2px 2px 2px rgba(220, 149, 87, 255);
    font-size: 18px;
    font-family: Roboto;
    font-weight: 600;
    line-height: 20px;
    word-wrap: break-word;
    height: 46px;
    flex-shrink: 0;
    align-self: stretch;
}

.card {
    width: 100%;git
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
 
}
#imagelogo{
    width: 8em;
    height: 6em;
}

ul{
    list-style: none;
    font-size: 14px;
    line-height: 170%;

}
.rrss{
    margin-top: 20px;

}
.rrss li{
   display: inline;
   margin:10px;

}
.rrss img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.1s;
}

.copy {
	padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding-top: 20px;
    color: #7C8594; 
    font-size: 10px;
    font-family: Roboto; 

}

.copy ul li {

    display: inline; 
    margin-right: 10px;
    color: #7C8594; 
    font-size: 10px; 
    font-family: Roboto; 
    }
ul a{
    text-decoration: none;
    color: #9eb4bf;
}

