footer {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #9eb4bf;
}

#footer {
	background: #383639;
    width: 100%;
	max-width: 100%;
	padding-block: 1rem;
}

.container-footer {
	display: grid;
	grid-template-columns:repeat(auto-fill,minmax(320px,1fr));
    grid-template-rows: auto;
	gap:10px;
    font-size:12px ;
    margin: 0 auto;
    max-width: 1200px;
}

footer h3{
    text-shadow: 2px 2px 2px rgba(220, 149, 87, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    height: 30px;
}

footer .card{
    text-align: center;
}

footer #imagelogo{
    width: 8em;
    height: 6em;
    border:solid #567ba7;
    border-style:groove;
}

footer p{
    margin-top: 8px;
}
footer ul{
    list-style: none;
    line-height: 170%;
}

footer .rrss{
    margin-top: 20px;
}

footer .rrss li{
   display: inline;
   margin:10px;
   transition: 0.3s ease-in-out;
}
.rrss img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.card figure{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card figure img{
    margin-right: 10px;
}

.copy {
    text-align: center;
    padding-top: 20px;
    font-size: 10px;
}

.copy ul li {
    display: inline;  
 }

ul a{
    text-decoration: none;
}