@media (max-width: 1024px){/*Responsive con tablet*/
  home {
    background-image: url(../images/ImagenFondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  nav{
    height: 120px;
  }
  
  .home ul{
    margin-top: -10px;
  }

  .home .logo_header{
    margin-top: -50px;
    height: 140px;
    width: 170px;
    transition: 0.5;
    
  }

  .home  .socialmedia{ 
    font-size: 15px;
    transition: 0.5;
    }

    .home  .enlace{
    padding-left: 20px;
  }

  .home nav ul li a{
    font-size: 14px;
  }
}



@media (max-width: 400px){ /*Responsive móvil*/
  home{
    background-color: #33FF4b;
  }
  
  nav{
    height: 70px;
  }

 
  
  .home .logo_header{
    margin-top: -50px;
    height: 120px;
    width: 150px;
    transition: 0.5;
    
  }

  .home .socialmedia{ 
    font-size: 10px;
    transition: 0.5;
    }

   
    .home  nav ul li a{
    font-size: 10px;
  }

  .checkbtn{
    
    display:block;
    transition: 0.5;
  }

  .home ul{
    visibility: hidden;
  }

  .home nav ul li{
    display:block;
    margin: 40px 20px 20px -10px; /*arriba-abajo  derecha-izquierda*/
    line-height: 5px;
    font-size: 20px;
  }

  .home  a{
    font-size: 10px;
  }

  .home  li a:hover, li a.active{
    background: none;
    color: white;
  }

  .home  #check:checked ~ul{ /*cuando le den al check, que se vea el ul*/
    visibility: visible;
    background: #383639;
    float: right;
    margin-top: 60px; 
  }
}