
.nosotros h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

.nosotros {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

headernos footernos {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#sobre-nosotros {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.nosotros h2, h3 {
    color: #333;
}


.nosotros h2 {
    border-bottom: 2px solid #333;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.nosotros h3 {
    margin-top: 20px;
}

.nosotros p {
    margin-bottom: 15px;
}


footernos {
    position: fixed;
    bottom: 0;
    width: 100%;
}

