:root{
  --bg-cards: rgba(86,123,167,255);
  --bg-cards1: rgba(111,140,158,255);
  --bg-cards2: rgba(235,136,54,255);
  --color-cards: white;
  font-family: 'Roboto', sans-serif;
}

.bg{
  background-color: var(--bg-cards) ;
  height: 60vh;
  z-index: -1;
  border-radius: 2rem;
}

#services{
  max-width: 1200px;
  min-width: 350px;
  height: 100vh;
  margin: 0 auto;
  color: var(--color-cards);
  background-color: aliceblue;
  box-shadow: 5px 5px 2px 2px rgb(197, 197, 197);
  border-radius: 100px;
}

.services__header{
  padding-top: 1rem;
  text-align: center;
  font-size: large;
}
.services__container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows: repeat(2,1fr);
  gap: 16px;
  max-width: 1000px;
  margin: 3em auto; 
}

.services__container article {
  text-align: center;
  background: var(--bg-cards2);
 
  padding: 1rem 1rem;
  border-radius: 2rem;
}

#service{
  box-shadow: 5px 5px 10px 2px #d76e0b;

}